.footer1{
    margin-top: 60vw;

       
        .knop{
        border-radius: 2px;
        color: black;
        transition: .2s linear;
        background:#FFA343;
        font-size: 0.89vw;
        padding: 1vw 2vw 1vw 2vw;
        margin-left: 80vw;
        margin-top: 0vh;
        position: absolute;
        }
        .knop:hover {
        box-shadow: 0 0 0 2px white, 0 0 0 4px #c11e0f;
        }
        .but{
            margin-top: -19vw;
        }
        
    .ka{
        font-size:2.50vw ;
            font-weight: 700;
            color: white;
            letter-spacing: 0.05vw;
            margin-left:9vw;
            margin-top: -10.9vw;
            position: static;
    }
    .bel{
        color: white;
        font-size: 0.78vw;
        font-weight: 400;
        letter-spacing:-0,02vw ;
        margin-left: 55vw;
        margin-top: -3vw;
    }
   .polos{
    width: 79.04vw;
    height:0.05vw ;
    margin-left: 10vw;
    margin-top: 20vw;
   }
   .menu2{
    margin-left: 11vw;
    @media screen and (max-width: 768px) {
        .menu2 {
          display: none;
        }
      }
    ul{
        list-style-type: none;
        margin-left: 30vw;
        margin-top: -1.5vw;
        
    }
    li{
        font-size: 0.94vw;
        font-weight: 600;
        display: inline;
        margin-right: 2.60vw;
        font-size: 1vw;
    }
    a{
        color: #FFD1A0;
    }
}
.bel1{
    color: white;
    font-size: 0.78vw;
    letter-spacing:-0,02vw ;
    margin-left: 12vw;
    margin-top: 5vw;
}
.bel2{
    color: white;
    font-size: 0.78vw;
    letter-spacing:-0,02vw ;
    margin-top: -1.39vw;
    margin-left: 25vw;
    position: absolute;
}


.poch{
    width: 8.96vw;
    height: 1.56vw;
    margin-left: 78vw;
    margin-top: 13vw;
}
.final{
    width: 10.31vw;
    height: 1.67vw;
    margin-top: 10vw;
    margin-left: 44vw;
}
}