.section1{
    margin-top: 3vw;
    .kar1{
        width: 31.15vw;
        height: 37.50vw;
        margin-left:11.88vw ;
        margin-top: 45vw;
    }
    .text2{
        margin-left: 54.69vw;
        margin-top: -39vw;
        h1{
            color:white;
            font-size: 3.33vw;
            font-weight:700; 
            margin-right: 10vw;
        }
        p{
            color:white;
            font-size: 0.94vw;
            font-weight: 600;
            line-height: 1.67vw;
            margin-right: 10vw;
            margin-top: 2vw;
        }
        img{
            width: 6.61vw;
            height:1.30vw ;
            margin-top: 2vw;
            margin-left:0vw ;
        }
    }
    .kar2{
        width: 76.09vw;
        height: 51.30vw;
        margin-left: 11.88vw;
        margin-top: 50vw;
        position: relative;
        z-index: -2;
    }
    .lolo{
        margin-top: -15vw;
    }
    .text3{
        z-index: 5;
        h1{
            color:white;
            font-size: 3.33vw;
            font-weight:700; 
        }
        p{
            color:white;
            font-size: 0.94vw;
            font-weight: 600;
            line-height: 1.67vw;
            margin-top: 2vw;
        }
        margin-top: -25vw;
        margin-left:20.67vw ;
        margin-right: 20vw;
        text-align: center;
       
    }
    .one{
        width: 15.42vw;
        height:1.30vw ;
        margin-top: -25vw;
        margin-left: 41.5vw;
    }
    .read{
        width: 6.61vw;
        height:1.30vw ;
        margin-top: 1.5vw;
        margin-left: 46.7vw;
    }
    
    .kar3{
        width: 31.15vw;
        height: 37.50vw;
        margin-left:57vw ;
        margin-top: 25vw;
    }
    
    .text4{
        margin-left: 12vw;
        margin-top: -60vw;
        h1{
            color:white;
            font-size: 3.33vw;
            font-weight:700; 
            margin-right: 50vw;
            margin-top: 34vw;
        }
        p{
            color:white;
            font-size: 0.94vw;
            font-weight: 600;
            line-height: 1.67vw;
            margin-right: 50vw;
            margin-top: 2vw;
        }
        img{
            width: 6.61vw;
            height:1.30vw ;
            margin-top: 2vw;
            margin-left:0vw ;
        }
    }
    .kaka{
        height: 1.30vw;
        width: 20.83vw;
        margin-top: -20vw;
        margin-left: 12vw;
    }
}
